@{
    string imagth = ViewBag.SettingValue;
}


@section LeftSide {



                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <h1 class="display-4 text-white mb-4 animated slideInRight">Our Projects</h1>
                 
                </div>
               
}